body {
    background-color: rgb(255, 71, 25);
    color: rgb(228, 192, 75);
    font-family: "Matemasie", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button {
    background-color: rgb(74, 74, 230);
    color: rgb(75, 42, 42);
    font-family: "Matemasie", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    max-width: 90%;
    text-align: center;
}
img {
    max-width: 90%;
}